@import "tailwindcss";

@theme inline {
  --color-*: initial;
  --color-light-blue: #cdf7ff;
  --color-marine-blue: #00d7ff;
  --color-dark-blue: #15395a;
  --color-midnight-blue: #3e4e6c;
  --color-night-blue: #242a37;

  --color-black: #282828;

  --color-gray: #7b8aa4;
  --color-light-gray: #b9c3c8;

  --color-green: #d3f6ce;
  --color-bright-green: #24d40c;

  --color-red: #db0837;
  --color-light-orange: #ffe6d3;
  --color-orange: #ff851c;
  --color-yellow: #fff6c0;

  --color-purple: #f8d2ff;

  --color-white: #ffffff;
  --color-light-white: #f2f3f7;

  --radius-*: initial;

  --radius-full: 100%;
  --radius-xs: 10px;
  --radius-m: 25px;

  --text-*: initial;

  --text-caption: 11px;
  --text-caption-line-height: 14px;
  --text-caption-weight: 400;

  --text-xss: 12px;
  --text-xss--line-height: 16px;
  --text-xss--font-weight: 400;

  --text-xs: 14px;
  --text-xs--line-height: 20px;
  --text-xs--font-weight: 400;

  --text-s: 15px;
  --text-s--line-height: 10px;
  --text-s--font-weight: 300;

  --text-base: 16px;
  --text-base--line-height: 16px;
  --text-base--font-weight: 400;

  --text-ms: 17px;
  --text-ms--line-height: 10px;
  --text-ms--font-weight: 400;

  --text-m: 18px;
  --text-m--line-height: 25.2px;
  --text-m--font-weight: 700;

  --text-xl: 20px;
  --text-xl--line-height: 28px;
  --text-xl--font-weight: 700;

  --text-2xl: 21px;
  --text-2xl--line-height: 28px;
  --text-2xl--font-weight: 700;

  --text-3xl: 24px;
  --text-3xl--line-height: 32px;
  --text-3xl--font-weight: 700;

  --text-4xl: 33px;
  --text-4xl--line-height: 45px;
  --text-4xl--font-weight: 700;

  --breakpoint-*: initial;
  --breakpoint-mobile: 360px;
  --breakpoint-tablet-l: 768px;
  --breakpoint-desktop-l: 1440px;

  --shadow-*: initial;
  --shadow-orange: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  --drop-shadow-*: initial;
  --drop-shadow-blue: 0 3px 4px 0 rgba(0, 215, 255, 0.25);
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: Inter, sans-serif;
}

@utility container {
  padding: 0 20px 0 20px;
  max-width: 767px;

  @variant tablet-l {
    padding: 0 32px 0 32px;
    max-width: 1239px;
  }

  @variant desktop-l {
    padding: 0 16px 0 16px;
    max-width: 1920px;
  }
}
