@import "tailwindcss";

:root {
  --color-blue: #00d7ff;
  --color-black: ##282828;
  --color-light-gray: #b9c3c8;
  --color-gray: #7b8aa4;
  --color-green: #d3f6ce;
  --color-light-orange: #ffe6d3;
  --color-blue: #cdf7ff;
  --color-yellow: #fff6c0;
  --color-purple: #f8d2ff;
  --color-red: #db0837;
  --color-bright-green: #24d40c;
  --color-dark-blue: #15395a;
  --color-white: #ffffff;
  --color-light-white: #f2f3f7;
}

@theme inline {
  --color-background: var(--color-light-white);
  --color-black: var(--color-black);
  --font-sans: var(--font-inter-sans);
}

body {
  background: var(--color-light-white);
  color: var(--color-black);
  font-family: Inter, sans-serif;
}
